.topicCreationMobile {

  @media only screen and (min-width : 1px) {
    
  &-header {
    display: flex;
    justify-content: center;
    border-bottom: 0.5px solid #ac5ad8;
      font-size: 1.5em;
      margin-bottom: 1em;

      &-trans {
        font-weight: bold;
        color: #0d6ad9;
      }
  }

  &-content {


    &-textArea {

      margin: 0 0 1em;
      
      &-header {
        font-size: 1.2em;
        margin-bottom: 0.5em
      }

      &-textArea {
        ::placeholder {
          color: lightgray;
        }
      }
    }

    &-dragger {

      p.ant-upload-text {
        display: none;
      }

      p.ant-upload-hint {
        display: none;
      }

      .ant-upload-list-item.ant-upload-list-item-done {
        text-overflow: ellipsis;
        background-color: rgb(224, 252, 229);
        
        .ant-upload-list-item-info {
          text-align: center;
        }

        svg {
          display: none;
        }
        }
      }
    }
  

  &-footer {
    display: flex;
    justify-content: flex-end;
    border-top: 0.5px solid #ac5ad8;
    font-size: 1em;
    margin-top: 2em;
    padding-top: 1em;

    &-cancel {
      font-weight: bold;
      display: inherit;
      align-items: center;
      margin-right: 1em;
      border: 1px solid white;
      border-radius: 5px;
      text-align: center;
      height: 40px;
      font-size: 1.2em;
      padding: 0.3em 1em;
      background-color: #FA5A5A;
      color:white;
    }

    &-ok {
      font-weight: bold;
      align-items: center;
      border: 1px solid white;
      border-radius: 5px;
      text-align: center;
      height: 40px;
      font-size: 1.2em;
      padding: 0.3em 1em;
      background-color: #82C8A0;
      color:white;
    }
  }
}

  @media only screen and (min-width : 1200px) {

  &-content {

    &-dragger {

      p.ant-upload-text {
        display: block;
      }

      p.ant-upload-hint {
        display: block;
      }

      .ant-upload-list-item.ant-upload-list-item-done {
        text-overflow: ellipsis;
        background-color: rgb(224, 252, 229);
        
        .ant-upload-list-item-info {
          text-align: center;
        }

        svg {
          display: block;
        }
        }
      }
    }
  

  &-footer {

    &-cancel {
      padding: 0.3em 2em;
    }

    &-ok {
      padding: 0.3em 2em;
    }
  }
}
}
